@import "../theme/variables";

$mk-elevation-umbra-color: rgba($mk-theme-black, .2) !default;
$mk-elevation-penumbra-color: rgba($mk-theme-black, .14) !default;
$mk-elevation-ambient-color: rgba($mk-theme-black, .12) !default;
