<div class="mdc-toolbar__row mdc-toolbar__row--custom-height">
  <div class="mdc-toolbar__section mdc-toolbar__section--align-start">
    <nav class="mk-toolbar-nav">
      <ul class="mk-toolbar-nav__tabs mk-tt--uppercase">
        <li>
          <a href="{{ site.baseurl }}/getting-started/"
             class="mk-toolbar-nav__tab{% if page.section == "getting-started" %} mk-toolbar-nav__tab--active{% endif %}"
             data-on="click,auxclick,contextmenu"
             data-region="Toolbar nav">
            Getting started
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/components/"
             class="mk-toolbar-nav__tab{% if page.section == "components" %} mk-toolbar-nav__tab--active{% endif %}"
             data-on="click,auxclick,contextmenu"
             data-region="Toolbar nav">
            Components
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
