<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row mdc-toolbar__row--theme-light">
    <div class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <button class="docsite-menu-icon mdc-toolbar__menu-icon material-icons"
              data-on="click,auxclick,contextmenu"
              data-region="Toolbar nav">menu</button>
      <a href="{{ site.url }}"
         class="mdc-toolbar__title mdc-toolbar__title--custom"
         data-on="click,auxclick,contextmenu"
         data-region="Toolbar nav">
        Material Kit
      </a>
      <nav class="mk-toolbar-nav mk-hide--phone mk-hide--tablet">
        <ul class="mk-toolbar-nav__tabs">
          <li>
            <a href="{{ site.url }}/getting-started/"
               class="mk-toolbar-nav__tab{% if page.section == "getting-started" %} mk-toolbar-nav__tab--active{% endif %}"
               data-on="click,auxclick,contextmenu"
               data-region="Toolbar nav">
              Getting started
            </a>
          </li>
          <li>
            <a href="{{ site.url }}/components/"
               class="mk-toolbar-nav__tab{% if page.section == "components" %} mk-toolbar-nav__tab--active{% endif %}"
               data-on="click,auxclick,contextmenu"
               data-region="Toolbar nav">
              Components
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="mdc-toolbar__section mdc-toolbar__section--align-end mk-hide--phone mk-hide--tablet">
      {% include toolbar-share.html %}
    </div>
  </div>
</header>
<div class="mdc-toolbar-fixed-adjust"></div>
