// stylelint-disable scss/dollar-variable-pattern

// Layout grid
// Set fixed layout width through variables instead of
// using "mdc-layout-grid--fixed-column-width" class
// as latter breaks layout's responsiveness
$mdc-layout-grid-max-width: 978px;

// Button
$mk-button-radius: 2px;

// Toolbar
$mk-toolbar-row-height: 48px;
$mk-toolbar-mobile-row-height: 48px;
$mk-toolbar-mobile-landscape-row-height: 48px;
