// stylelint-disable scss/dollar-variable-pattern

// Core theme variables
$mdc-theme-primary: #438aff;
$mdc-theme-secondary: #f36;
$mdc-theme-background: #fff;

// Elevation (box-shadows)
$mk-elevation-umbra-color: rgba(67, 72, 77, .12);
$mk-elevation-penumbra-color: rgba(67, 72, 77, .12);
$mk-elevation-ambient-color: rgba(67, 72, 77, .12);
