@import "@material/layout-grid/mixins";
@import "@material/layout-grid/variables";
@import "@material/rtl/mixins";
@import "@material/theme/mixins";
@import "@material/typography/mixins";

.mk-section {
  position: relative;

  @include mdc-theme-dark {
    @include mdc-theme-prop(color, text-primary-on-dark);

    &__eyebrow {
      @include mdc-theme-prop(color, text-secondary-on-dark);

      &::after {
        @include mdc-theme-prop(background-color, text-primary-on-dark);
      }
    }

    &__title {
      @include mdc-theme-prop(color, text-primary-on-dark);
    }

    &__description {
      @include mdc-theme-prop(color, text-secondary-on-dark);
    }

    &__actions {
      @include mdc-theme-prop(color, text-primary-on-dark);
    }
  }
}

// Tagline above the title
.mk-section__eyebrow {
  @include mdc-theme-prop(color, text-secondary-on-light);
  @include mdc-typography(subheading1);

  @media (min-width: 840px) {
    margin-bottom: 35px;
    margin-bottom: 32px;
  }

  position: relative;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 14px;
  text-transform: uppercase;

  &::after {
    @include mdc-theme-prop(background-color, primary);

    display: block;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 3px;
    margin: 15px auto 0;

    @media (min-width: 840px) {
      margin-top: 20px;
    }
  }
}

.mk-section__title {
  font-size: map-get(map-get($mdc-typography-styles, display1), font-size);
  line-height: map-get(map-get($mdc-typography-styles, display1), line-height);

  &--large {
    font-size: map-get(map-get($mdc-typography-styles, display2), font-size);
    line-height: map-get(map-get($mdc-typography-styles, display2), line-height);
  }

  &--small {
    font-size: map-get(map-get($mdc-typography-styles, headline), font-size);
    line-height: map-get(map-get($mdc-typography-styles, display1), line-height);
  }
}

.mk-section__description {
  @include mdc-theme-prop(color, text-secondary-on-light);
  @include mdc-typography(subheading1);
}

.mk-section__actions {
  margin-bottom: 0;

  .mk-section__description + & {
    margin-top: 1.5rem;
  }
}

.mk-section__fab {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  text-decoration: none;
  z-index: 1;
}

.mk-section__media {
  position: relative;
  min-height: 400px;

  @media (min-width: 840px) {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    min-height: auto;
  }
}

.mk-section__image {
  @include mdc-rtl-reflexive-position(left, 0);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Text cell will appear on start, image on end
.mk-section--split-start {
  .mk-section__text {
    @media (min-width: 840px) {
      @include mdc-rtl-reflexive-box(margin, right, 58.3333%);
    }
  }

  .mk-section__media {
    @media (min-width: 840px) {
      @include mdc-rtl-reflexive-position(right, 0);
    }
  }
}

// Text cell will appear on end, image on start
.mk-section--split-end {
  .mk-section__text {
    @media (min-width: 840px) {
      @include mdc-rtl-reflexive-box(margin, left, 58.3333%);
    }
  }

  .mk-section__media {
    @media (min-width: 840px) {
      @include mdc-rtl-reflexive-position(left, 0);
    }
  }
}
