@import "./variables";

@mixin mk-toolbar-element-vertical-padding {

  // TODO: refactor this out when #23 is implemented
  @media (max-width: $mdc-toolbar-mobile-landscape-width-breakpoint) and (orientation: landscape) {
    padding-top: ($mk-toolbar-mobile-landscape-row-height - 24px) / 2;
    padding-bottom: ($mk-toolbar-mobile-landscape-row-height - 24px) / 2;
  }

  // TODO: refactor this out when #23 is implemented
  @media (max-width: $mdc-toolbar-mobile-breakpoint) {
    padding-top: ($mk-toolbar-mobile-row-height - 24px) / 2;
    padding-bottom: ($mk-toolbar-mobile-row-height - 24px) / 2;
  }

  padding-top: ($mk-toolbar-row-height - 24px) / 2;
  padding-bottom: ($mk-toolbar-row-height - 24px) / 2;
}
