@import "@material/rtl/mixins";

// TODO: refactor this with responsive breakpoints
// Text-align
.mk-ta {
  &--start {
    text-align: left;

    @include mdc-rtl {
      text-align: right;
    }
  }

  &--end {
    text-align: right;

    @include mdc-rtl {
      text-align: left;
    }
  }

  &--center {
    text-align: center;
  }

  &--justify {
    text-align: justify;
  }
}

// Text-decoration
.mk-td {
  &--line-through {
    text-decoration: line-through;
  }

  &--overline {
    text-decoration: overline;
  }

  &--underline {
    text-decoration: underline;
  }

  &--none {
    text-decoration: none;
  }
}

// Text-transform
.mk-tt {
  &--capitalize {
    text-transform: capitalize;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--none {
    text-transform: none;
  }
}
